.remove-btn {
  margin-right: 0.5rem;
}
.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
:root {
  --mainBlue: #2a2a72;
  --primaryColor: #af9a7d;
  --offWhite: #f7f7f7;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #292a2b;
  --mainYellow: #ffa400;
}
body {
  font-family: "Oswald", "sans-serif" !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title {
  font-family: "Rubik", sans-serif !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--primaryColor);
}
.text-bright {
  color: var(--lightBlue);
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
.btn-count {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-count:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.product-listing {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
}
